ta
tqdm
keras
numpy
# If CONDA install, uncomment below req
#opencv
# If PIP install, uncomment below req
#opencv-python
pandas
pymongo
mplfinance
matplotlib
tensorboardx
python-decouple
tensorflow>=2.3.1
tensorflow-gpu>=2.3.1
